.father {
  overflow: hidden;
  margin-top: 50px;
}
.son {
  width: 200px;
  height: 200px;
  float: left;
  margin-left: 20px;
  border: 1px solid #000;
  text-align: center;
  line-height: 150px;
  cursor: pointer;
  background: #ddd;
  transition: 1s ease-in-out;
}
.back {
  background: purple;
  box-shadow: 0px 3px 6px 3px rgba(178, 132, 190, 0.12),
    0px 6px 10px 3px rgba(178, 132, 190, 0.22),
    0px 9px 14px 3px rgba(178, 132, 190, 0.2),
    0px 18px 16px 6px rgba(178, 132, 190, 0.28);
  border: 2px solid rgba(178, 132, 190, 0.7);
  outline: 1px solid palevioletred;
  border-radius: 20px;
  color: #fff;
  font-weight: bold;
  transform: scale(1.2);
}
